<!-- EXTENDS -->
{% extends "layout.html" %} {% load static %}

<!-- TITLE -->
{% block title %}Create new blog - The Blog{% endblock %}

<!-- CONTENT -->
{% block content %}
<div class="title pb-0" style="padding: 2rem 4.5rem">
  <p class="mb-1 text-primary">Start your tech journey</p>
  <h3 class="mb-4">Create and Manage your Blogs</h3>
</div>

<form
  class="mb-5"
  method="POST"
  enctype="multipart/form-data"
  style="padding: 0rem 4.5rem"
>
  {% csrf_token %}
  <!-- TITLE UPLOAD FIELD -->
  <div class="mb-3">
    <label for="{{ form.title.id_for_label }}" class="form-label">Title:</label>
    <input
      type="text"
      class="form-control"
      id="{{ form.title.id_for_label }}"
      name="{{ form.title.name }}"
      aria-describedby="titlelHelp"
      value="{{form.title.value|default_if_none:''}}"
    />
    <div id="titleHelp" class="form-text">
      Provide your blog with a unique title
    </div>
  </div>

  <!-- SUBTITLE UPLOAD FIELD -->
  <div class="mb-3">
    <label for="{{ form.subtitle.id_for_label }}" class="form-label"
      >Subtitle:</label
    >
    <input
      type="text"
      class="form-control"
      id="{{ form.subtitle.id_for_label }}"
      name="{{ form.subtitle.name }}"
      aria-describedby="titlelHelp"
      value="{{form.subtitle.value|default_if_none:''}}"
    />
  </div>

  <!-- IMAGE UPLOAD FIELD -->
  <div class="mb-3">
    <label for="{{ form.image.id_for_label }}" class="form-label"
      >Upload Image:</label
    >
    <input
      type="file"
      class="form-control"
      id="{{ form.image.id_for_label }}"
      name="{{ form.image.name }}"
    />
    {% if form.intance.image %}
    <img src="{{ form.instance.image.url }}" />
    {% endif %}
  </div>

  <!-- CATEGORIES UPLOAD FIELD -->
  <div class="mb-3">
    <label for="{{ form.categories.id_for_label }}" class="form-label"
      >Categories:</label
    >
    <div class="cate-list">
      {% if chosen_categories %} {% for chosen_category in chosen_categories%}
      <div class="cate-field position-relative">
        <select
          name="{{ form.categories.name }}"
          id="{{ form.categories.id_for_label }}"
          class="form-control cate-select mb-2"
        >
          {% for category in categories %}
          <option value="{{ category.id }}"
          {% if category.id == chosen_category.id %}selected{% endif %}>
          {{ category.name }}</option>
          {% endfor %}
        </select>
        <button class="delete-btn position-absolute end-0 top-0 bg-white" style="border: none; margin: .45rem"><i class="fas fa-times"></i></button>
      </div>
      {% endfor %}
      {% else %}
      <div class="cate-field position-relative">
        <select
          name="{{ form.categories.name }}"
          id="{{ form.categories.id_for_label }}"
          class="form-control cate-select mb-2"
        >
          {% for category in categories %}
          <option value="{{ category.id }}">{{ category.name }}</option>
          {% endfor %}
        </select>
        <button class="delete-btn position-absolute end-0 top-0 bg-white" style="border: none; margin: .45rem"><i class="fas fa-times"></i></button>
        {% endif %}
      </div>
    </div>
    <button class="add-new-cate btn btn-primary w-100 mt-3">
      Add another Category
    </button>
  </div>

  <!-- INTRODUCTION UPLOAD FIELD -->
  <div class="mb-3">
    <label for="{{ form.introduction.id_for_label }}" class="form-label"
      >Introduction:</label
    >
    <textarea
      type="text"
      class="form-control"
      name="{{ form.introduction.name }}"
      id="{{ form.introduction.id_for_label }}"
      style="height: 100px"
    >
{{form.subtitle.value|default_if_none:""}}</textarea
    >
  </div>

  <!-- CONTENT UPLOAD FIELD -->
  <div class="mb-5">
    <label for="{{ form.content.id_for_label }}" class="form-label"
      >Your Blog's Content:</label
    >
    <textarea
      type="text"
      class="form-control content"
      name="{{ form.content.name }}"
      id="{{ form.content.id_for_label }}"
      style="height: 270px"
    >
{{form.content.value|default_if_none:""}}
  </textarea
    >
  </div>
  <button type="submit" name="action" value="submit" class="btn btn-primary">
    Submit and Save
  </button>
  <button
    type="submit"
    name="action"
    value="save"
    class="btn btn-outline-primary"
  >
    Save
  </button>
  <button
    type="submit"
    name="action"
    value="delete"
    class="btn btn-outline-danger"
  >
    Delete
  </button>
  <a class="btn btn-outline-secondary" href="{% url 'my_blog' %}"> Cancel </a>
</form>

<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
<script src="{% static 'js/createBlog.js' %}"></script>

{% endblock %}
