<!-- EXTENDS -->
{% extends "layout.html" %} {% load static %}

<!-- TITLE -->
{% block title %}{{blog.title}} - The Blog{% endblock %}

<!-- CONTENT -->
{% block content %}
<div class="hero position-relative" style="height: 70vh">
  <img
    class="hero-img position-relative w-100 h-100"
    src="{{ blog.image.url }}"
    style="filter: brightness(40%); object-fit: cover"
  />
  <div class="hero-text position-absolute text-white bottom-0 left-0" style="padding: 3.5rem 4.5rem">
    <p class="mb-1" style="font-size: 1rem">
      {{blog.author.username}} - {{ blog.created_at|date:"d M Y" }}
    </p>
    <h1 class="mb-3" style="font-size: 3.5rem">{{ blog.title }}</h1>
    <p class="mb-3" style="font-size: 1.15rem">{{ blog.subtitle }}</p>
    <div class="d-flex" style="gap: 10px">
      {% for category in categories %}
        {% if category.name != "None" %}
        <span class="badge bg-primary p-2">{{ category.name }}</span>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="main-content" style="padding: 3rem 4.5rem">
  <p class="text-dark">{{ blog.introduction }}</p>
  <p class="text-dark">{{ blog.content|safe }}</p>
</div>

<section class="comment-section" style="padding: 1rem 4.5rem">
  <form method="POST"
  enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="{{ comment_form.content.id_for_label }}" class="form-label"
        >Your Comment</label
      >
      <textarea
        type="text"
        class="form-control"
        id="{{ comment_form.content.id_for_label }}"
        name="{{ comment_form.content.name }}"
        value="{{ comment_form.content.value|default_if_none:''}}"
        aria-describedby="commentHelp"
        style="height: 150px"
      ></textarea>
      <div id="commentHelp" class="form-text">
        Give your opinion about this blog
      </div>
    </div>
    <button type="submit" class="btn btn-primary w-100" name="create_comment">Submit</button>
  </form>
  <div class="comment-list my-4">
    <h6>Comments:</h6>
    <div class="container p-0 m-0" style="max-width: 100%">
    {% if comments %}
      {% for comment in comments %}
      <div
        class="card comment position-relative"
      >
        <div class="card-body ">
          <p><strong>{{ comment.author.username }} - {{ comment.created_at|date:"d M Y"  }}</strong></p>
          <p>{{comment.content}}</p></div>

        {% if comment.author == request.user %}
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="comment_id" value="{{ comment.id }}">
          <button type="submit" name="delete_comment"  class="btn btn-outline-danger position-absolute bottom-0 end-0 rounded border-4 px-2 m-2"><i class="fa-regular fa-trash-can" style="font-size: 2em"></i></button>
        </form>
        {% endif %}
      </div>
      {% endfor %}
    {% else %}
      <h5 class="m-5 text-secondary text-center">There are currently no Comment for this Blog</h5>
    {% endif %}
    
  </div>
</section>
{% endblock %}
